<div data-options="dxView : { name: 'Home', title: 'AAIM' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div class="conSet-container" data-bind="dxScrollView: { }">
			<center>
				<img data-bind="attr:{'src': logo_url}" class="company_logo">
			    <a class="main-link" href="javascript:void(0);" onclick="selectPage('contacts');">
				    <img src="assets/images/main/contacts_lrg.png" />
			        <span>Contacts</span>
			    </a>
			    <a class="main-link" href="javascript:void(0);" onclick="selectPage('notifications');">
				    <img src="assets/images/main/notifications_lrg.png" />
			        <span>Notifications</span>
			    </a>
			    <a class="main-link" href="javascript:void(0);" onclick="selectPage('emerbroadcast');">
				    <img src="assets/images/main/emerbroadcast_lrg.png" />
			        <span>Live Meeting</span>
			    </a>
                <a class="main-link" href="javascript:void(0);" onclick="selectPage('schedule');">
				    <img src="assets/images/main/schedule_lrg.png" />
			        <span>Schedule</span>
			    </a>
			    <a class="main-link" href="javascript:void(0);" onclick="selectPage('news');">
				    <img src="assets/images/main/news_lrg.png" />
			        <span>Bulletin Board</span>
			    </a>
			    <a class="main-link" href="javascript:void(0);" onclick="selectPage('refs');">
				    <img src="assets/images/main/quickref_lrg.png" />
			        <span>Quick Reference</span>
			    </a>
		    </center>
		</div>        
    </div>
</div>
