.dx-icon-menu{
	/* display: none !important; */
}
.dx-slideout.dx-widget.dx-feedback.dx-command-container{
    margin-top: 0 !important;
    position: relative;
}
.dx-viewport .dx-slideout-menu, .dx-viewport .dx-slideout-item-container{
    padding-top: 20px !important;
}
a{
	text-decoration: none !important;
}
.main-link {
	display: inline-block;
	max-width: 159px;
	margin: 8px;
	width: 30%;
}
.main-link img{
	width: 60%;
}
.main-link span{
	color: #808285;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	display: block;	
}
.company_logo{
	max-width: 80%;
	max-height: 80px;
	display: block;
	margin-top: 20px;
}
.page-header{
	display: block;
	height: 80px;
}

.page-header .left-area{
	float: left;
	width: 23%;
	background: red;
	padding: 20px 0;
	height: 40px;
}
.page-header .left-area img{
	margin: 0 auto;
	display: block;
	width: 40px;
}
.page-header .right-area{
	width: 77%;
	float: left;
	background: black;
	color: grey;
	font-weight: bold;
	font-size: 23px;
	height: 80px;
	line-height: 80px;	
}
.page-header .right-area span{
	margin-left: 10px;
}

.dx-viewport.dx-version-major-7 .dx-slideout-item-container{
	/* padding-top: 20px !important; */
}
.dx-viewport.dx-version-major-7 .dx-slideout-menu{
	/* margin-top: 20px !important; */
}
.dx-icon-lms{
	background: url(../assets/images/main/emerbroadcast_lrg.png);
}
.dx-icon-cts{
	background: url(../assets/images/main/contacts_lrg.png);
}
.dx-icon-news{
	background: url(../assets/images/main/news_lrg.png);
}
.dx-icon-scs{
	background: url(../assets/images/main/schedule_lrg.png);
}
.dx-icon-nts{
	background: url(../assets/images/main/notifications_lrg.png);
}
.dx-icon-qrs{
	background: url(../assets/images/main/quickref_lrg.png);
}
