<div data-options="dxView : { name: 'emerbroadcast', title: '',  } " >
    <div data-bind="dxCommand: { title: 'Main', action: goMain, icon: 'edit', id: 'save', visible: 1, type: 'default' }" ></div>
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
    	<div class="page-header">
    		<div class="left-area">
    			<img src="assets/images/inside/emerbroadcast_wht.png" />
    		</div>
    		<div class="right-area">
    			<span>LIVE MEETING</span>
    		</div>
    	</div>
        <center>
        	<img src="assets/images/inside/livemeeting_listen_green.png" style="width: 200px; margin-top: 70px;"/>
        	<h3 style="color: grey; font-weight: bold; font-size: 22px;"></h3>
        	<div class="button" data-bind="dxButton: { text: 'Join Now', clickAction: goMeeting }"></div>
        </center>       
    </div>
</div>
