.news-icon{
	float: left;
	margin-top: 10px;
	width: 15%;
	display: block;
}
.news-info{
	float: left;
	width: 80%;
	margin-left: 5%;
}
.news-name{
	color: red;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid red;
	padding: 5px;
}
.news-data p{
	margin: 10px 5px;
	font-size: 16px;
	color: black;
	white-space: normal;
}
